
.faleconosco {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: grey;
}

.container {
   width: 80vw;
   height: 80vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.form-image {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--secondary);
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}

.form-image img {
  width: 80%;
}

.form {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--white);
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}


.nemDeusSabe {
  padding: 5%;
}

.form-header {
   margin-bottom: 2rem;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column
}

.login-button {
   display: flex;
   align-items: center;
}

.login-button button {
   border: none;
   background-color: var(--secondary);
   padding: 0.4rem 1rem;
   border-radius: 5px;
   cursor: pointer;
}

.login-button button a {
   text-decoration: none;
   font-weight: 800;
   font-family: 'Montserrat', sans-serif;
   color: var(--white);
}

.form-header h1::after {
   content: '';
   display: block;
   width: 5rem;
   height: 0.3rem;
   background-color: var(--secondary);
   margin: 0 auto;
   position: absolute;
   border-radius: 10px;
}

.input-group {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 1rem 0;
   margin-top: 3rem;
}

.input-box {
   display: flex;
   flex-direction: column;
   margin-bottom: 1.1rem;
}

.input-box input, select  {
   margin: 0.6rem 0;
   padding: 0.8rem 1.2rem;
   border: none;
   border-radius: 4px;
   box-shadow: 1px 1px 6px #0000001c;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
}

.input-box input:hover, select:hover {
   background-color: #eeeeee75;
}

.input-box input:focus-visible, select:focus-visible {
   outline: 1px solid var(--secondary);
}

.input-box label,
.gender-title h6 {
   font-size: 18px;
   font-weight: 600;
   font-family: 'Montserrat', sans-serif;
   color: #000000c0;
}

.input-box input::placeholder, select::placeholder {
   color: #000000be;
}

.continue-button button {
   width: 100%;
   border: none;
   background-color: var(--secondary);
   padding: 0.62rem;
   border-radius: 5px;
   cursor: pointer;
  
}

.continue-button button:hover {
   background-color: var(--secondary);
}

.continue-button button a {
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 500;
   color: #fff;
}
