@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --orange: #fb3f08;
  --darkblue: #4c4c9d;
  --purple: #7c4bc8;
  --darkpurple: #44207e;
  --white: #fffafa;
  --black: #000;
  --gray: #d0d0d0;
  --darkgray: #6c6c6c;
  --lightgray: #D9D9D9;
  --background: linear-gradient(70deg, #fb3f08, #4c4c9d, #7c4bc8, #fb3f08);
}


body {
  margin: 0;
}

.fundo {
  animation: animateBg 10s linear infinite;
  background-image: var(--background);
  background-size: 100% 1100%;
  height: 100vh;
  width: 100vw;
}

@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  margin-left: inherit;
  overflow-x: hidden;

}

/* Scrollbar */
::-webkit-scrollbar {
  width: 1.4vh;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background:  var(--purple);
  border-radius: 4.6vh;
}

/* Menu */

a {
  color: var(--white);
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  height: 70%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: var(--white);
  height: 12vh;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-weight: bold;
}

.nav-list li {
  /* letter-spacing: 0.2vw; */
  margin-left: 2.3vw;
}

.nav-list li a {
  font-size: 2.4vh;
  color: var(--black);
}

.btn_entrar {
  width: 9vw;
  height: 6.2vh;
  border-radius: 5vh;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: var(--orange);
  color:var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.4vh;
}

.container {
  max-width: 87.8vw;
  margin: 0 auto;
}

p {
  margin: 0;
}

/*campos*/

#fundo{
  align-items: center;
  display: flex;
  align-content: stretch;
  align-items: flex-start;
}

#cachorro {
  background-color: var(--darkblue);
  border-radius: 1.5vh;
  height: 18.5vh;
  width: 36.6vw;
  justify-content: center;
  display: flex;
  position: absolute;
  left: 32vw;
  top: 21.6vh;
  margin-top: 12px;
}

.img_cachorro {
  position: relative;
  display: flex;
  z-index: 1;
  /* size: 1vh; */
  /* margin-top:10px; */
}

/* #bloco_campos{
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  position: absolute;
  z-index: 0;
} */

#campo{
  background-color: #FFFAFA;
  border-radius: 0 0 1.5vh 1.5vh;
  width: 60vw;
  height: 50vh;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 36.6vw;
  height: 70vh;
  left: 32vw;
  top: 38vh;
  flex-direction: column;
}

#campo h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 5vh;
  top: 5vh;
}

#campo #email {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 5vh;
  top: 15vh;
}

#campo #email_input {
  left: 5vh;
  bottom: 2vh;
  width: 420px;
  height: 40px;
  border-radius: 5vh;
  border: 1px solid var(--gray);
  position: relative;
  background-image: url('../css/images/icon-email.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 3vh;
  padding-left: 10vh;
}

#campo #senha {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 5vh;
  top: 30vh;
}

#campo #senha_input {
  left: 5vh;
  top: 3vh;
  width: 420px;
  height: 40px;
  border-radius: 5vh;
  border: 1px solid var(--gray);
  position: relative;
  background-image: url('../css/images/icon-user-gray.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 3vh;
  padding-left: 10vh;
}

::placeholder {
  position: relative;
}

#campo #esqueci {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 5vh;
  top: 45vh;
  color: var(--orange);
}

#campo #register {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 43vh;
  top: 45vh;
  color: var(--black);
}

#campo #btn_entrar2 {
  top: 10vh;
  /* left: 5vh; */
  width: 32vw;
  height: 6.2vh;
  border-radius: 5vh;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  background: var(--orange);
  color:var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.4vh;
  border: 0px;
  position: relative;
}

/* Footer */

footer {
  width: 100%;
  color: var(--black);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 2.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--black);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link img {
  width: 23px;
  align-self: center;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--black);
  transition: all 0.4s;
  font-size: 16px;
}

.footer-list .footer-link:hover {
  color: var(--purple);
}

#logoFooter {
  width: 40%;
  height: 40%;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

#footer_subscribe p {
  color: var(--black);
  font-size: 16px;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: #d0d0d0;
  border-radius: 4px;
  font-size: 16px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  font-size: 16px;
}

#input_group button {
  background-color: var(--purple);
  border: none;
  color: var(--black);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group img {
  width: 23px;
  display: flex;
  align-items: center;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: rgb(208, 208, 208);
  font-size: 0.8rem;
  padding: 1.5rem;
  font-weight: 400;
  color: var(--black);
}

::-webkit-input-placeholder { /* Edge */
  color:var(--darkgray);
}