@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --orange: #fb3f08;
  --darkblue: #4c4c9d;
  --purple: #7c4bc8;
  --darkpurple: #44207e;
  --white: #fffafa;
  --black: #000;
  --background: linear-gradient(70deg, #fb3f08, #4c4c9d, #7c4bc8, #fb3f08);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  margin-left: inherit;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #fffafa;
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 30px;
}
/* menu */

.container-nav {
  display: flex;
  width: 100vw;
  height: 8vh;
  flex-direction: row;
  padding: 2px 4%;
  background-color: var(--white);
  align-items: center;
  overflow-y: hidden;
}

#logo {
  height: 80%;
}

.optionsNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 30%;
  align-items: center;
}

.optionsNav a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  font-weight: 800;
  font-size: 16px;
}

.optionsNav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

.optionsNav li {
  text-align: center;
}

/* Botão menu */

.btn-login {
  width: 12vw;
  height: 40px;
  font-weight: 800;
  border-radius: 40px;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* First section */

.containerHome {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
}

.leftHome {
  display: flex;
  width: 58vw;
  flex-direction: column;
  padding: 6% 4%;
}

.rightHome {
  display: flex;
  width: 42vw;
  flex-direction: row;
}

.leftHome h2 {
  font-size: 32px;
  color: var(--orange);
  font-weight: 800;
}

.leftHome h1 {
  font-size: 44px;
  color: var(--black);
  font-weight: 900;
}

.leftHome span {
  font-size: 20px;
  font-weight: 600;
}

.leftHome #txt1 {
  margin-top: 6%;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  padding-top: 18%;
}

.cadUser {
  font-size: 16px;
  width: 16vw;
  height: 60px;
  border-radius: 40px;
  border: none;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 800;
  cursor: pointer;
}

.cadPet {
  font-size: 16px;
  width: 16vw;
  height: 60px;
  border-radius: 40px;
  border: 4px solid var(--darkpurple);
  color: var(--darkpurple);
  background-color: transparent;
  font-weight: 800;
  cursor: pointer;
}

.cadPet:hover {
  background-color: var(--darkpurple);
  color: var(--white);
  transition: 0.4s;
}

#blob {
  position: absolute;
  right: 0;
  width: 620px;
  z-index: -1;
  margin-top: 5%;
}

/* lado direito da home*/

.leftHome2 {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  padding-top: 58%;
  width: 100%;
  gap: 5%;
}

.leftHome2 h1 {
  color: var(--white);
  font-size: 24px;
  font-weight: 800;
}

.cardReview {
  display: flex;
  flex-direction: column;
  width: 260px;
  min-height: 180px;
  background-color: var(--darkblue);
  border-radius: 8px;
  padding: 5%;
  text-align: left;
}

#midSpan {
  color: var(--white);
  font-size: 16px;
  margin-top: 15%;
  font-weight: 600;
}

.topReview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topReview h1 {
  color: var(--white);
  font-weight: 800;
  font-size: 20px;
}

.midReview {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5%;
}

.midReview img {
  width: 20px;
  margin-right: 6%;
}

.midReview span {
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
}

.bottomReview {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  gap: 3%;
}

.bottomReview img {
  width: 28px;
}

.rightHome2 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.rightHome2 img {
  height: 70%;
  margin-bottom: 25%;
}

/* section como funciona*/

.containerWhatWeDo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 14% 0 6% 0;
  text-align: center;
}

#titleHowWork {
  color: var(--black);
  font-size: 48px;
  font-weight: 900;
  overflow: hidden;
  padding-bottom: 5%;
}

.containerWWD {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 90%;
  justify-content: space-evenly;
  background-color: var(--darkpurple);
  padding: 2%;
  border-radius: 48px;
}

.cards div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-color: var(--white);
  padding: 3%;
  height: 360px;
  border-radius: 32px;
}

.cards div.card:first-child {
  margin-left: 0;
}

.cards div.card .icon-1 {
  height: 110px;
}
.cards div.card .icon-2 {
  height: 110px;
}
.cards div.card .icon-3 {
  height: 110px;
}

.cards div.card img {
  height: 100px;
}

.cards div.card h3 {
  font-size: 20px;
  margin: 16px 0;
  overflow: hidden;
}

.cards div.card span {
  text-align: center;
  font-weight: 400;
  max-width: 240px;
  text-align: justify;
  font-size: 100%;
  overflow: hidden;
}

.cards div.card {
  box-shadow: 10px 10px 40px -20px black;
}

@media screen and (max-width: 720px) {
  .cards {
    flex-direction: column;
  }

  .cards div.card {
    margin-left: 0;
    margin-bottom: 32px;
  }

  .cards div.card:last-child {
    margin-bottom: 0;
  }
}

/* Section FAQ */

.containerFAQ {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4%;
}

.leftFAQ {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100%;
}

.rightFAQ {
    display: flex;
    width: 40vw;
    height: 100%;
    margin-top: 20px;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.rightFAQ span {
    color: var(--black);
    font-size: 48px;
    font-weight: 900;
}

.rightFAQ span:nth-child(2) {
    color: var(--orange);
    font-size: 48px;
    font-weight: 900;
}


.accordion {
  width: 100%;
}

.accordion li {
  list-style: none;
  width: 90%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: var(--white);
  box-shadow: -5px 5px 20px #00000035;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 32px;
    font-weight: 600;
    color: var(--orange);
}

input[type="radio"]{
    display: none;
}

.accordion .answerFAQ {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s, padding 0.8s;
}

.accordion input[type=radio]:checked + label + .answerFAQ {
    max-height: 400px;
    padding: 10px 10px 20px ;
}

#blobFAQ {
    position: absolute;
    left: 0;
    width: 620px;
    z-index: -1;
    margin-top: 10%;
}

/* Sobre nós */

.containerPai{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10%;
}


.image-SBN{
 
 width: 500px;
 height: 500px;


}
.text-SBN{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 40%;
}


/* Section Contato */

.containerCTT {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.select-menu {
  width: 380px;
  margin: 150px auto;
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background-color:antiquewhite;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.select-btn img {
  height: 24px;
}

.select-menu .options {
  display: flex;
  gap: 20px;
  flex-direction: column;

  padding: 20px;
  background-color:rgb(232, 235, 209);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.options .option{
  display: flex;
  height: 55px;
  width: 100%;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}



.options .option:hover{
  background-color: #4c4c9d;
}

.option-text {
  font-size: 18px;
  color: black;
}

/* Footer */

footer {
  width: 100%;
  color: var(--black);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 2.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--black);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link img {
  width: 23px;
  align-self: center;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--black);
  transition: all 0.4s;
  font-size: 16px;
}

.footer-list .footer-link:hover {
  color: var(--purple);
}

#logoFooter {
  width: 40%;
  height: 40%;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

#footer_subscribe p {
  color: var(--black);
  font-size: 16px;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: #d0d0d0;
  border-radius: 4px;
  font-size: 16px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  font-size: 16px;
}

#input_group button {
  background-color: var(--purple);
  border: none;
  color: var(--black);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group img {
  width: 23px;
  display: flex;
  align-items: center;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: rgb(208, 208, 208);
  font-size: 0.8rem;
  padding: 1.5rem;
  font-weight: 400;
  color: var(--black);
}