@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --orange: #FB3F08;
  --darkblue: #4C4C9D;
  --purple: #7C4BC8;
  --darkpurple: #44207E;
  --white: #FFFAFA;
  --black: #000;
  --gray: #333333;
  --background: linear-gradient(70deg,#FB3F08, #4C4C9D,#7C4BC8,#FB3F08);
}

body {
  margin: 0;
}

.fundo {
  animation: animateBg 10s linear infinite;
  background-image: var(--background);
  background-size: 100% 1100%;
  height: 100vh;
  width: 100vw;
}

@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  margin-left: inherit;
  overflow-x: hidden;

}

/* Scrollbar */
::-webkit-scrollbar {
  width: 1.4vh;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background:  var(--purple);
  border-radius: 4.6vh;
}

/* Menu */

a {
  color: --white;
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  height: 70%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: var(--white);
  height: 12vh;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-weight: bold;
}

.nav-list li {
  /* letter-spacing: 0.2vw; */
  margin-left: 2.3vw;
}

.nav-list li a {
  font-size: 2.4vh;
  color: var(--black);
}

.btn_entrar {
  width: 9vw;
  height: 6.2vh;
  border-radius: 5vh;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: var(--orange);
  color:var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.4vh;
}

footer {
  background-color: var(--white);
  color: var(--gray);
  text-align: center;
  padding: 3.1vh;
}

.container {
  max-width: 87.8vw;
  margin: 0 auto;
}

p {
  margin: 0;
}

/*campos*/

#fundo{
  align-items: center;
  display: flex;
  align-content: stretch;
  align-items: flex-start;
}

/* .cachorro {
  height: 35vh;
  position: absolute;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  z-index: 1;
  top: 50vh;
} */

/* #bloco_campos{
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  position: absolute;
  z-index: 0;
} */

#campo{
  background-color: #FFFAFA;
  border-radius: 1.5vh;
  width: 60vw;
  height: 50vh;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 36.6vw;
  height: 70vh;
  left: 32vw;
  top: 21.6vh;
  flex-direction: column;
}

#campo h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 5vh;
  top: 5vh;
}

#campo #email {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 5vh;
  top: 15vh;
}

#campo #email_input {
  left: 5vh;
  /* top: 16vh; */
  bottom: 5.5vh;
  width: 420px;
  height: 40px;
  border-radius: 5vh;
  border: 1px solid var(--gray);
  position: relative;
  background-image: url('../css/images/icon-email.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 3vh;
  padding-left: 10vh;
}

#campo #senha {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 5vh;
  top: 30vh;
}

#campo #senha_input {
  left: 5vh;
  /* top: 22vh; */
  /* bottom: 1vh; */
  width: 420px;
  height: 40px;
  border-radius: 5vh;
  border: 1px solid var(--gray);
  position: relative;
  background-image: url('../css/images/icon-user-gray.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 3vh;
  padding-left: 10vh;
}

::placeholder {
  position: relative;
}

#campo #esqueci {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 5vh;
  top: 45vh;
  color: var(--orange);
}

/* #campo #btn_entrar2 {
  top: 70vh;
  width: 50vh;
} */