@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --orange: #fb3f08;
    --darkblue: #4c4c9d;
    --purple: #7c4bc8;
    --darkpurple: #44207e;
    --white: #fffafa;
    --black: #000;
    --gray: #d0d0d0;
    --darkgray: #6c6c6c;
    --lightgray: #D9D9D9;
    --background: linear-gradient(70deg, #fb3f08, #4c4c9d, #7c4bc8, #fb3f08);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    margin-left: inherit;
    overflow-x: hidden;
}

body {
    background-color: var(--white);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #fffafa;
}

::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 30px;
}

/* menu */

.container-nav {
    display: flex;
    width: 100vw;
    height: 8vh;
    flex-direction: row;
    padding: 2px 4%;
    background-color: var(--white);
    align-items: center;
    overflow-y: hidden;
    position: fixed;
    z-index: 2;
}

#logo {
    height: 80%;
}

.optionsNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 30%;
    align-items: center;
}

.optionsNav a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    font-weight: 800;
    font-size: 16px;
}

.optionsNav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.optionsNav li {
    text-align: center;
}

/* Botão menu */

.btn-login {
    width: 12vw;
    height: 40px;
    font-weight: 800;
    border-radius: 12px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

/* container */

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* sidebar */

.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 1% 0% 1%;
    left: 0;
    /* box-shadow: -5px 5px 20px #00000035; */
    position:fixed;
    z-index: 1;
}

.opt {
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    text-align: left;
    margin-top: 5%;
    border-radius: 12px;
    padding-left: 8%;
    background-color: var(--white);
}

#b1 {
    background-color: rgba(68, 32, 126, 0.2);
}

.opt:hover {
    background-color: rgba(68, 32, 126, 0.2);
    transition: 0.9;
    color: var(--white);
}

.opt img {
    width: 16px;
    height: 16px;
    align-items: center;
}
 
.opt span {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    margin-left: 8%;
}
.logout {
    width: 80%;
    height: 40px;
    margin-top: 15%;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
}

/* Conteúdo */

.content {
    width: 100%;
    padding: 5% 5% 5% 25%;
}

.titleProfile {
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
    font-family: 'Montserrat' sans-serif;
    color: var(--black);
}

.containerProfile {
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 20px;
    background-color: var(--white);
    border-radius: 12px 12px 12px 12px;
    box-shadow: -5px 5px 20px #676767;
}

/* Parte da Esquerda */

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 100%;
    width: 40%;
}

.containerImage {
    width: 85%;
    height: 70%;
    overflow: hidden;
    border-radius: 12px 12px 12px 12px;
}

.Puppy {
    width: 100%;
    height: 100%;
}

.containerText {
    width: 100%;
    height: 40%;
    display: flex;
}

.Part {
    width: 50%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.Tittle2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    padding-left: 45px;
}

.Tittle3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    padding-left: 25px;
}

.subtitle1 {
    font-size: 28px;
    font-weight: 900;
    padding-left: 45px;
    padding-top: 15px;
}

.subtitle2 {
    font-size: 28px;
    font-weight: 900;
    padding-left: 45px;
    padding-top: 15px;
}

.OrangeText {
    font-size: 28px;
    font-weight: 900;
    color: var(--orange);
}

/* Parte do Meio */

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
    width: 30%;
    padding-bottom: 8%;
}

.text1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    padding-left: 7%;
    padding-bottom: 5%;
    margin-top: 1%;
}

.Infos {
    width: 85%;
    height: 5vh;
    display: flex;
    border: none;
    border-radius: 12px;
    padding-left: 7%;
    margin-top: 1%;
}

.Infos img {
    width: 16px;
    height: 16px;
    align-items: center;
}
 
.Infos span {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    margin-left: 8%;
}

.ContainerRedes {
    width: 70%;
    display: flex;
    height: 41px;
    margin-left: 4%;
    overflow: hidden;
}

.espacamento{
    height: 5vh;
    padding-left: 2%;
}

/* Parte da direita */

.direita {
    width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alinhamento {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    margin-top: 7.5%;
}

.text2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    padding-left: 12%;
    padding-bottom: 5%;
    margin-top: 1%;
    overflow: hidden;
}

.Status {
    width: 100%;
    height: 5vh;
    display: flex;
    border: none;
    border-radius: 12px;
    padding-left: 7%;
    margin-top: 1%;
    line-height: normal;
}

.Status #bolinha {
    align-items: center;
}
 
.Status span {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--darkpurple);
    margin-left: 7%;
}

.Statustext {
    padding-top: 0.5vh;
}

.dot {
    height: 24px;
    width: 24px;
    background-color: var(--darkpurple);
    border-radius: 55%;
    display: inline-block;
  }
  
  .dot1 {
    height: 24px;
    width: 24px;
    background-color: var(--orange);
    border-radius: 50%;
    display: inline-block;
  }  

  .ContainerCancelar {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16%;
    padding-bottom: 15%;
    overflow: hidden;
  }

  .Cancelar {
    width: 13vw;
    height: 40px;
    margin-top: 15%;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    margin-left: 10%;
    border-color: var(--orange);
}

.Cancelar:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
    transition: 0.4s;
  }

/* Histórico de Compra */

.containerHist{
    padding-top: 4vh;
    width: 100%;
    height: 60vh;
}

.titleProfile2 {
    font-size: 48px;
    font-weight: 900;
    padding-top: 30px;
    font-family: 'Montserrat' sans-serif;
    color: var(--black);
}

.banner {
    width: 90%;
    height: 9vh;
    margin-top: 40px;
    margin-left: 0.5vw;
    background-color: var(--white);
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 1px 15px #676767;
}


