@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --orange: #fb3f08;
    --darkblue: #4c4c9d;
    --purple: #7c4bc8;
    --darkpurple: #44207e;
    --white: #fffafa;
    --black: #000;
    --gray: #d0d0d0;
    --darkgray: #6c6c6c;
    --lightgray: #D9D9D9;
    --background: linear-gradient(70deg, #fb3f08, #4c4c9d, #7c4bc8, #fb3f08);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    margin-left: inherit;
    overflow-x: hidden;
}

body {
    background-color: var(--white);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #fffafa;
}

::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 30px;
}

/* menu */

.container-nav {
    display: flex;
    width: 100vw;
    height: 8vh;
    flex-direction: row;
    padding: 2px 4%;
    background-color: var(--white);
    align-items: center;
    overflow-y: hidden;
    position: fixed;
    z-index: 2;
}

#logo {
    height: 80%;
}

.optionsNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 30%;
    align-items: center;
}

.optionsNav a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    font-weight: 800;
    font-size: 16px;
}

.optionsNav a:hover {
  transition: 0.4s;
  color: var(--darkpurple)
}

.optionsNav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.optionsNav li {
    text-align: center;
}

/* Botão menu */

.profile-dropdown{
    width: fit-content;
  }
  
  .profile-dropdown-btn{
    display: flex;
    background-color: var(--orange);
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.1s, background-color 0.1s;
    border: 1px solid var(--shadow);
  }
  
  .profile-img {
    width: 3rem;
    height: 2.5rem;
    position: relative;
    background: url(images/icon-user-white.svg) no-repeat;
    background-size: 30px;
    align-items: center;
    background-position: center;
  }
  
  .profile-dropdown-btn span {
    color: var(--white);
  }
  
  .profile-name{
    padding: 5%;
    color: var(--dark);
  }
  
  .profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 320px;
    right: 0;
    margin-right: 60px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow );
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  
  .profile-dropdown-list.active{
    max-height: 500px;
    margin-right: 60px;
  }
  
  .profile-dropdown-list hr{
    border: 0.1px solid var(--orange);
  }
  
  .profile-dropdown-list-item{
    /* padding: .5rem 0 0.5rem 1rem; */
    transition: background-color 0.2s, padding-left 0.2s;
  }
  
  
  .profile-dropdown-list-item:hover{
    background-color: var(--lightgray);
  }
  
  #config:hover{
    padding-left: 1.5rem;
    background-color: var(--lightgray);
  }
  
  #sair:hover {
    padding-left: 1.5rem;
    background-color: var(--lightgray);
  }
  
  .profile-dropdown-list-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark);
  }
  
  .profile-dropdown-list-item a i{
    margin: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--orange);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    border-radius: 50%;
  }
  
  /* botão switch tema */
  
  .switch-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 68px;
  }
  
  .button{
    background-color: var(--gray);
    width: 50px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
  }
  
  .button::before{
    position: absolute;
    content: '';
    background-color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 3px;
    transition: 0.2s;
  }
  
  input:checked + .button{
    background-color: var(--darkpurple);
  }
  
  input:checked + .button::before{
    transform: translateX(25px);
  }
  
  .switch-theme input{
    display: none;
  }
  
/* fim botão switch tema  */

/* sidebar */

.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 1% 0% 1%;
    left: 0;
    /* box-shadow: -5px 5px 20px #00000035; */
    position:fixed;
    z-index: 1;
}

.opt {
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    text-align: left;
    margin-top: 5%;
    border-radius: 12px;
    padding-left: 8%;
    background-color: var(--white);
}

#b2 {
    background-color: rgba(68, 32, 126, 0.2);
}

.opt:hover {
    background-color: rgba(68, 32, 126, 0.2);
    transition: 0.9;
    color: var(--white);
}

.opt img {
    width: 18px;
    height: 18px;
    align-items: center;
}
 
.opt a {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    margin-left: 8%;
    text-decoration: none;
}

.logout {
    width: 80%;
    height: 40px;
    margin-top: 15%;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
}

.logout:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
    transition: 0.4s;
}

/* Conteúdo */

.content {
    width: 100%;
    padding: 5% 5% 5% 25%;
}

.titleProfile {
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
    font-family: 'Montserrat' sans-serif;
    color: var(--black);
}

.containerProfile {
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 20px;
    background-color: var(--white);
    border-radius: 12px 12px 12px 12px;
    box-shadow: -5px 5px 20px #676767;
}

/* Parte da Esquerda */

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 100%;
    width: 40%;
}

.containerImage {
    width: 85%;
    height: 70%;
    overflow: hidden;
    border-radius: 12px 12px 12px 12px;
}

.Puppy {
    width: 100%;
    height: 100%;
}

.containerText {
    width: 100%;
    height: 40%;
    display: flex;
}

.Part {
    width: 50%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.Tittle2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    padding-left: 45px;
}

.Tittle3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    padding-left: 25px;
}

.subtitle1 {
    font-size: 28px;
    font-weight: 900;
    padding-left: 45px;
    padding-top: 15px;
}

.subtitle2 {
    font-size: 28px;
    font-weight: 900;
    padding-left: 45px;
    padding-top: 15px;
}

.OrangeText {
    font-size: 28px;
    font-weight: 900;
    color: var(--orange);
}

/* Parte do Meio */

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
    width: 30%;
    padding-bottom: 8%;
}

.text1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    padding-left: 7%;
    padding-bottom: 5%;
    margin-top: 1%;
}

.Infos {
    width: 85%;
    height: 5vh;
    display: flex;
    border: none;
    border-radius: 12px;
    padding-left: 7%;
    margin-top: 1%;
}

.Infos img {
    width: 16px;
    height: 16px;
    align-items: center;
}
 
.Infos span {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    margin-left: 8%;
}

.ContainerRedes {
    width: 70%;
    display: flex;
    height: 41px;
    margin-left: 4%;
    overflow: hidden;
}

.espacamento{
    height: 5vh;
    padding-left: 2%;
}

/* Parte da direita */

.direita {
    width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alinhamento {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    margin-top: 7.5%;
    overflow: hidden;
}

.text2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    padding-left: 12%;
    padding-bottom: 5%;
    margin-top: 1%;
    overflow: hidden;
}

.Status {
    width: 100%;
    height: 5vh;
    display: flex;
    border: none;
    border-radius: 12px;
    padding-left: 7%;
    margin-top: 1%;
    line-height: normal;
}

.Status #bolinha {
    align-items: center;
}
 
.Status span {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--darkpurple);
    margin-left: 7%;
}

.Statustext {
    padding-top: 0.5vh;
}

.dot {
    height: 24px;
    width: 24px;
    background-color: var(--darkpurple);
    border-radius: 55%;
    display: inline-block;
  }
  
  .dot1 {
    height: 24px;
    width: 24px;
    background-color: var(--orange);
    border-radius: 50%;
    display: inline-block;
  }  

  .ContainerCancelar {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16%;
    padding-bottom: 15%;
    overflow: hidden;
  }

  .Cancelar {
    width: 13vw;
    height: 40px;
    margin-top: 15%;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    margin-left: 10%;
    border-color: var(--orange);
}

.Cancelar:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
    transition: 0.4s;
}

/* Histórico de Compra */

.containerHist{
    padding-top: 4vh;
    width: 100%;
    height: 60vh;
}

.titleProfile2 {
    font-size: 48px;
    font-weight: 900;
    padding-top: 30px;
    font-family: 'Montserrat' sans-serif;
    color: var(--black);
}

.banner {
    display: flex;
    width: 98%;
    height: 8vh;
    margin-top: 40px;
    margin-left: 0.5vw;
    background-color: var(--white);
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 1px 15px #676767;
}

.Infos2 {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
}
 
.Infos2 span {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    margin-left: 5%;
}

.ContainerProfile {
    width: 40px;
    height: 40px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    border-radius: 50%;
    
}

.IconProfile {
    width: 20px;
    height: 20px;
    align-items: center;    
    margin-left: 25%;
}

.containerTexto {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.Texto {
    font-size: 20px;
    font-weight: 500;
    color: var(--darkpurple);
}

.containerStatus {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
}

.corPendente {
    display: flex;
    align-items: center;
    width: 120px;
    height: 29px;
    overflow: hidden;
    margin-left: 15%;
    background-color: #FFBF00;
    border-radius: 16px;
}

.Pendente2 {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
}

.corConcluido {
    display: flex;
    align-items: center;
    width: 120px;
    height: 29px;
    overflow: hidden;
    margin-left: 15%;
    background-color: #3FD73C;
    border-radius: 16px;
}

.Concluido2 {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
}

.corCancelado {
    display: flex;
    align-items: center;
    width: 120px;
    height: 29px;
    overflow: hidden;
    margin-left: 15%;
    background-color: #B81000;
    border-radius: 16px;
}

.Cancelado2 {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
}

.containerVerMais {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
}

.VerMais {
    width: 121px;
    height: 40px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    margin-left: 10%;
    border-color: var(--orange);
}

.VerMais:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
    transition: 0.4s;
  }

