@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


:root {
  --orange: #fb3f08;
  --darkblue: #4c4c9d;
  --purple: #7c4bc8;
  --darkpurple: #44207e;
  --white: #fff;
  --dark: #000;
  --gray: #d0d0d0;
  --darkgray: #6c6c6c;
  --lightgray: #D9D9D9;
  --background: linear-gradient(70deg, #fb3f08, #4c4c9d, #7c4bc8, #fb3f08);
  --shadow: 0px 2px 8px 0px var(--darkgray);
}

[data-theme="dark"]{
  --white:#000;
  --dark: #fff;
  --darkpurple: #7c4bc8;
}

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  margin-left: inherit;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #fffafa;
}

::-webkit-scrollbar-thumb {
  background:  var(--purple);
  border-radius: 30px;
}

main {
  background-color: var(--white);
}
/* menu */

.container-nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 8vh;
    padding: 2px 4%;
    background-color: var(--white);
}

#logo {
    height: 80%;
    cursor: pointer;
}

.options {
  width: 100%;
  padding-left: 37%;
  align-items: center;
}

.container-nav .options li {
  display: inline-block;
  text-align: center;
  margin: 0 1.8rem;
}

.options li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
    font-weight: 800;
    font-size: 16px;
    position: relative;
}

/* Botão menu */

.profile-dropdown{
  width: fit-content;
}

.profile-dropdown-btn{
  display: flex;
  background-color: var(--orange);
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.1s, background-color 0.1s;
  border: 1px solid var(--shadow);
}

.profile-img {
  width: 3rem;
  height: 2.5rem;
  position: relative;
  background: url(images/icon-user-white.svg) no-repeat;
  background-size: 30px;
  align-items: center;
  background-position: center;
}

.profile-dropdown-btn span {
  color: var(--white);
}

.profile-name{
  padding: 5%;
  color: var(--dark);
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 350px;
  right: 0;
  margin-right: 60px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow );
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.profile-dropdown-list.active{
  max-height: 500px;
  margin-right: 60px;
}

.profile-dropdown-list hr{
  border: 0.1px solid var(--orange);
}

.profile-dropdown-list-item{
  /* padding: .5rem 0 0.5rem 1rem; */
  transition: background-color 0.2s, padding-left 0.2s;
}


.profile-dropdown-list-item:hover{
  background-color: var(--lightgray);
}

#config:hover{
  padding-left: 1.5rem;
  background-color: var(--lightgray);
}

#sair:hover {
  padding-left: 1.5rem;
  background-color: var(--lightgray);
}

.profile-dropdown-list-item a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--dark);
}

.profile-dropdown-list-item a i{
  margin: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--orange);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
}

/* botão switch tema */

.switch-theme{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 84px;
}

.button{
  background-color: var(--gray);
  width: 50px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.button::before{
  position: absolute;
  content: '';
  background-color: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 3px;
  transition: 0.2s;
}

input:checked + .button{
  background-color: var(--darkpurple);
}

input:checked + .button::before{
  transform: translateX(25px);
}

.switch-theme input{
  display: none;
}

/* fim botão switch tema  */


/* botão daltonismo */

.visual-hidden{
  clear: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker > fieldset{
  border: 0;
  display: flex;
  align-items: center;
  width: 9rem;
  height: 3rem;
  margin-left: .6rem;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: .8rem;
  height: .8rem;
  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
  margin: 0 8px 0 9px;
  cursor: pointer;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: gray ; 
}

.color-picker input[type="radio"]#tritanopia {
  --radio-color: pink ; 
}

.color-picker input[type="radio"]#protanopia {
  --radio-color: lightblue ; 
}

.color-picker input[type="radio"]#deuteranopia {
  --radio-color: yellow ; 
}

.color-picker input[type="radio"]#acromatico {
  --radio-color: lightgray ; 
}

:root:has(#tritanopia:checked){
  --orange: #f78da7;
  --darkblue: #024f45;
  --purple: #673203;
  --darkpurple: #3f1e01;
  --white: #fff;
  --dark: #000;
  --gray: #d0d0d0;
  --darkgray: #6c6c6c;
  --lightgray: #D9D9D9;
  --background: linear-gradient(70deg, #f78da7, #3f1e01, #673203, #f78da7);
  --shadow: 0px 2px 8px 0px var(--darkgray);
}

:root:has(#protanopia:checked){
  --orange: #957e04;
  --darkblue: #0e406b;
  --purple: #0e406b;
  --darkpurple: #0e406b;
  --white: #fff;
  --dark: #000;
  --gray: #d0d0d0;
  --darkgray: #6c6c6c;
  --lightgray: #D9D9D9;
  --background: linear-gradient(70deg, #957e04, #0e406b, #0e406b, #957e04);
  --shadow: 0px 2px 8px 0px var(--darkgray);
}

:root:has(#deuteranopia:checked){
  --orange: #bda007;
  --darkblue: #16609f;
  --purple: #16609f;
  --darkpurple: #16609f;
  --white: #fff;
  --dark: #000;
  --gray: #d0d0d0;
  --darkgray: #6c6c6c;
  --lightgray: #D9D9D9;
  --background: linear-gradient(70deg, #bda007, #16609f, #16609f, #bda007);
  --shadow: 0px 2px 8px 0px var(--darkgray);
}

:root:has(#acromatico:checked){
  --orange: #635d5d;
  --darkblue: #727275;
  --purple: #adadad;
  --darkpurple: #1f1f1f;
  --white: #fff;
  --dark: #000;
  --gray: #d0d0d0;
  --darkgray: #6c6c6c;
  --lightgray: #D9D9D9;
  --background: linear-gradient(70deg, #635d5d, #727275, #adadad, #635d5d);
  --shadow: 0px 2px 8px 0px var(--darkgray);
}



/* fim botão daltonismo*/

.btn-login {
    width: 50px;
    height: 50px;
    font-weight: 800;
    border-radius: 50%;
    border: none;
    background: url(images/icon-user-white.svg) no-repeat;
    background-position: center;
    background-color: var(--orange);
    background-size: 30px;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


/* INICIO MAIN ADPET */

.bg-adpet {
  background-color: var(--lightgray);
  height: 85vh;
  background-image: url(./images/bg_adpet.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow-y: hidden;
}

.title-adpet h1{
  font-size: 45px;
  text-align: center;
  margin-top: 1.5rem;
  color: var(--dark);
  background-color: var(--white);
}

.subtitle-adpet h1{
  font-size: 30px;
  padding: 5% 5% 0 5%;
  color: var(--dark);
  background-color: var(--white);
}

.content-adpet{
  padding: 3% 5%;
  overflow: hidden;
  color: var(--dark);
  background-color: var(--white);
}

.content-adpet h3{
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 1%;
}

.filters{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}


/* INICIO css dropdown raça */
.select-menu {
  margin-top: 4%;
  width: 23vw;
  border-radius: 12px;
  border: 2px solid var(--dark);
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background-color: var(--white);
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.select-btn img {
  height: 24px;
  transition: 0.3s;
}

.select-btn #icon-seta{
  color: red;
}

#select-raca {
  background: url(images/dog-solid.svg) no-repeat 18px 14px;
  background-size: 28px 28px;
  padding-left: 20%;
}

.select-menu.active .select-btn img {
  transform: rotate(-180deg);
}

.select-menu .options {
  position: relative;
  display: none;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.1);
}

.select-menu.active .options {
  display: block;
  position: absolute;
  z-index: 2;
  max-height: 30vh;
  max-width: 23vw;
}

.options .option {
  display: flex;
  height: 45px;
  width: 100%;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  margin-top: 10px;
  background-color: var(--white);
  color: var(--dark);
  font-size: 15px;
}

.options .option:hover {
  background-color: var(--darkpurple);
  color: var(--white);
}

/* FINAL css dropdown raça */

/* INICIO css dropdown TAMANHO */
.select-menu2 {
  margin-top: 4%;
  width: 23vw;
  border-radius: 12px;
  border: 2px solid var(--dark);
}

.select-menu2 .select-btn2 {
  display: flex;
  height: 55px;
  background-color: var(--white);
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
 }

 .select-btn2 img {
  height: 24px;
  transition: 0.3s;
}

#select-tamanho {
  background: url(images/paw-solid.svg) no-repeat 18px 14px ;
  background-size: 28px 28px;
  padding-left: 20%;
}

.select-menu2.active2 .select-btn2 img {
  transform: rotate(-180deg);
}

.select-menu2 .options2 {
  position: relative;
  display: none;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.1);
}

.select-menu2.active2 .options2 {
  display: block;
  position: absolute;
  z-index: 2;
  max-height: 30vh;
  max-width: 23vw;
}

.options2 .option2 {
  display: flex;
  height: 45px;
  width: 100%;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  margin-top: 10px;
  background-color: var(--white);
  color: var(--dark);
  font-size: 15px;
}

.options2 .option2:hover {
  background-color: var(--darkpurple);
  color: var(--white);
}
/* FINAL css dropdown tamanho */

/* INICIO CSS FILTER VACINA */
.form-control2 {
  margin-top: 10%;
  font-size: medium;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 17px auto;
  gap: 0.5em;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 3px;
}


.form-control2:focus-within {
  color: var(--darkpurple);
}
/* FINAL CSS FILTER VACINA */

/* INICIO FUNC FILTRAR E LIMPAR */

.filtrar {
  margin-top: 29%;
  font-size: 16px;
  width: 180px;
  height: 60px;
  border-radius: 12px;
  border: none;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 800;
  cursor: pointer;
}

.filtrar:hover {
  background-color: var(--white);
  color: var(--orange);
  border: 4px solid var(--orange);
  transition: .4s;
}

.limpar {
  margin-top: 29%;
  font-size: 16px;
  width: 180px;
  height: 60px;
  border-radius: 12px;
  border: 4px solid var(--darkpurple);
  color: var(--darkpurple);
  background-color: transparent;
  font-weight: 800;
  cursor: pointer;
}

.limpar:hover {
  background-color: var(--darkpurple);
  color: var(--white);
  transition: 0.4s;
}

/* FIM FUNC FILTRAR E LIMPAR  */

/* INICIO CARD AD PET  */

.card-adpet {
  flex-direction:row;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  padding: 1%;
  margin-top: 10%;
}

.ex-card {
  position: relative;
  width: 22%;
  height: 530px;
  border-radius: 15px;
  z-index: 0;
  transition: 0.2S all;
} 

.ex-card:hover{
  z-index: 1;
  transform: scale(1.05);
  border-radius: 15px;
}

.img-pet {
  background-image: url(images/spitz-filhote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.content-card {
  padding-top: 5%;
}

.content-card h3{
  font-size: 24px;
  font-weight: bolder;
}

.content-card #mes {
  margin-top: 3%;
  margin-bottom: 2%;
  font-weight: 300;
}

.content-card #preco {
  font-weight: 300;
}

.fila-local {
  flex-direction:row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 6%;
}

.ex-card2 {
  position: relative;
  width: 22%;
  height: 530px;
  border-radius: 15px;
  z-index: 0;
  transition: 0.2S all;
}

.ex-card2:hover{
  z-index: 1;
  transform: scale(1.05);
  border-radius: 15px;
}

.ex-card3 {
  position: relative;
  width: 22%;
  height: 530px;
  border-radius: 15px;
  z-index: 0;
  transition: 0.2S all;
}

.ex-card3:hover{
  z-index: 1;
  transform: scale(1.05);
  border-radius: 15px;
}

.ex-card4 {
  position: relative;
  width: 22%;
  height: 530px;
  border-radius: 15px;
  z-index: 0;
  transition: 0.2S all;
}

.ex-card4:hover{
  z-index: 1;
  transform: scale(1.05);
  border-radius: 15px;
}

.entrar-fila {
  margin-top: 8%;
  font-size: 20px;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: none;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 600;
  cursor: pointer;
}

.entrar-fila:hover{
  background-color: var(--white);
  color: var(--orange);
  border: 4px solid var(--orange);
  transition: .4s;
}

/* FIM CARD AD PET  */

/* Footer */

footer {
  width: 100%;
  color: var(--dark);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 2.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--dark);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link img {
  width: 23px;
  align-self: center;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--dark);
  transition: all 0.4s;
  font-size: 16px;
}

.footer-list .footer-link:hover {
  color: var(--purple);
}

#logoFooter {
  width: 40%;
  height: 40%;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

#footer_subscribe p {
  color: var(--dark);
  font-size: 16px;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: #d0d0d0;
  border-radius: 4px;
  font-size: 16px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  font-size: 16px;
}

#input_group button {
  background-color: var(--purple);
  border: none;
  color: var(--dark);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group img {
  width: 23px;
  display: flex;
  align-items: center;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--lightgray);
  font-size: 0.8rem;
  padding: 1.5rem;
  font-weight: 400;
  color: black;
}

::-webkit-input-placeholder { /* Edge */
  color:var(--darkgray);
}