@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variaveis de cores */
:root {
  --primary-light: #ff8460;
  --primary: #fb3f08;
  --primary-dark: #582212;
  --secondary-light: #7c4bc8;
  --secondary: #4e2096;
  --secondary-dark: #4c4c9d;
  --azul: #4C4C9D;
  --white: #fffafa;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

/* definições de navegador */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

/* Menu */

a {
  color: --white;
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  height: 90%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #fffafa;
  height: 10vh;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.nav-list li a {
  font-size: 16px;
  color: black;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

.itemMenu {
  font-family: "Montserrat", sans-serif;
  text-size: 20px;
  font-weight: 800;
  color: #000;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background: #fffafa;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Botão entrar menu*/
.btn_entrar {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: var(--primary);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.btn_entrar:hover {
  color: var(--white);
}
.btn_entrar:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light);
}

.btn_entrar p::selection {
  background-color: transparent;
  user-select: none;
}

/* Botão casal menu */
.btn_pub {
  width: 220px;
  height: 40px;
  border-radius: 8px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: transparent;
  border: 5px solid #4e2096;
  box-sizing: border-box;
  color: var(--secondary);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.btn_pub:hover {
  color: var(--white);
  background: var(--secondary);
}
.btn_pub:active {
  border: none;
  box-shadow: inset 0.2rem 0.2rem 1rem var(--secondary-light);
}

.btn_pub p::selection {
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

 /* Banner e Quadrado com Add */

.containerBanner {
  max-width: 100vw;
  height: 76vh;
  background-image: url("../css/images/bannerDog");
  background-size: 100vw;
  background-repeat: no-repeat;
  padding-top: 8%;
  padding-left: 5%;
}

 /* quadrado */

.addSquare {
  display: flex;
  background-color: var(--white);
  border-radius: 8px;
  height: 52vh;
  width: 40vw;
}

.contentSquare {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.contentSquare h1 {
  color: var(--primary);
  font-family: 'Montserrat', bold;
  font-weight: 800;
  font-size: 28px;
}

.contentSquare span {
  margin-top: 2%;
  color: black;
  font-family: 'Montserrat', bold;
  font-weight: 800;
  font-size: 20px;
}


.contentSquare p {
  margin-top: 5%;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

 /* Btn Quero filhote */
 .btn_filhote {
  width: 280px;
  height: 40px;
  border-radius: 8px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: var(--secondary);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.btn_filhote:hover {
  color: var(--white);
  background: var(--secondary);
}
.btn_filhote:active {
  border: none;
  box-shadow: inset 0.2rem 0.2rem 1rem var(--secondary-light);
}

/*///////////////// section sobre nós /////////////////*/

.containerAbout {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
}

.containerContentAbout {
  display: flex;
  flex-direction: row;
  width: 75vw;
  height: 80vh;
  background-color: var(--white);
  border-radius: 0px 8px 8px 0px;
}

/*///////////////// Lado esquerdo AboutUs /////////////////*/
.leftAbout {
  width: 50%;
  height: 100%;
}

/* definindo padding*/
.leftAbout div {
  padding: 8%;
}

/* estilizando textos*/
.leftAbout h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: black;
  font-size: 40px;
}

.leftAbout h2 {
  margin-top: 4%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  font-size: 24px;
  opacity: 0.6;
}

#txtAbout {
  width: 95%;
  margin-top: 8%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 16px;
  text-align: justify;
}

#pt2 {
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--secondary);
  font-size: 18px;
}

/*///////////////// Lado direito AboutUs /////////////////*/
.rightAbout {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--white);
  border-radius: 0px 8px 8px 0px;
}

.team {
  width: 40vw;
  height: 40vh;
  background-color: aquamarine;
  margin-left: 20%;
  margin-top: 8%;
  border-radius: 8px;
}

.stats {
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 16vh;
  background-color: var(--azul);
  margin-left: 20%;
  margin-top: 8%;
  border-radius: 8px;
}

#statsInfo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}

#statsInfo1 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--white);
  font-weight: 800;
}

#txtInfo1 {
  margin-top: 8%;
}

#statsInfo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 100%;
}

#statsInfo2 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--white);
  font-weight: 800;
}

#txtInfo2 {
  margin-top: 8%;
}

#statsInfo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
}

#statsInfo3 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--white);
  font-weight: 800;
}

#txtInfo3 {
  margin-top: 8%;
}
