@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


:root {
  --orange: #fb3f08;
  --darkblue: #4c4c9d;
  --purple: #7c4bc8;
  --darkpurple: #44207e;
  --white: #fffafa;
  --black: #000;
  --gray: #d0d0d0;
  --darkgray: #6c6c6c;
  --lightgray: #D9D9D9;
  --background: linear-gradient(70deg, #fb3f08, #4c4c9d, #7c4bc8, #fb3f08);
}

*,
/* *::before, */
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  margin-left: inherit;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #fffafa;
}

::-webkit-scrollbar-thumb {
  background:  var(--purple);
  border-radius: 30px;
}
/* menu */

.container-nav {
    display: flex;
    width: 100vw;
    height: 8vh;
    flex-direction: row;
    padding: 2px 4%;
    background-color: var(--white);
    align-items: center;
    overflow-y: hidden;

}

#logo {
    height: 80%;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 30%;
    align-items: center;
}

.options a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    font-weight: 800;
    font-size: 16px;
}

.options ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.options li {
    text-align: center;
}

/* Botão menu */

.profile-dropdown{
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid var(--orange);
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.profile-dropdown-btn:hover{
  background-color: var(--orange);
  box-shadow: var(--gray);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 1rem;
  border-radius: 50%;
  background: url(images/icon-user-white.svg) no-repeat;
  background-size: 20px;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: #25d366;
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--gray);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.profile-dropdown-list.active{
  max-height: 500px;
}

.profile-dropdown-list hr{
  border: 0.5px solid var(--orange);
}

.profile-dropdown-list-item{
  padding: .5rem 0 0.5rem 1rem;
  transition: background-color 0.2s, padding-left 0.2s;
}

.profile-dropdown-list-item:hover{
  padding-left: 1.5rem;
  background-color: var(--lightgray);
}

.profile-dropdown-list-item a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
}

.profile-dropdown-list-item a i{
  margin: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--orange);
  color: white;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
}


.btn-login {
    width: 50px;
    height: 50px;
    font-weight: 800;
    border-radius: 50%;
    border: none;
    background: url(images/icon-user-white.svg) no-repeat;
    background-position: center;
    background-color: var(--orange);
    background-size: 30px;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


/* INICIO MAIN ADPET */

.bg-adpet {
  background-color: var(--lightgray);
  height: 85vh;
  background-image: url(./images/bg_adpet.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title-adpet h1{
  font-size: 45px;
  text-align: center;
  margin-top: 1.5rem;
}

.subtitle-adpet h1{
  font-size: 30px;
  padding: 5% 5% 0 5%;
}

.content-adpet{
  padding: 3% 5%;
}

.content-adpet h3{
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 1%;
}

.filters{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}


/* INICIO css dropdown raça */
.select-menu {
  margin-top: 4%;
  width: 23vw;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background-color: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.select-btn img {
  height: 24px;
  transition: 0.3s;
}

#select-raca {
  background: url(images/icon-dog.png) no-repeat 18px 14px;
  background-size: 28px 28px;
  padding-left: 20%;
}

.select-menu.active .select-btn img {
  transform: rotate(-180deg);
}

.select-menu .options {
  position: relative;
  display: none;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.1);
}

.select-menu.active .options {
  display: block;
  position: absolute;
  z-index: 2;
  max-height: 30vh;
  max-width: 23vw;
}

.options .option {
  display: flex;
  height: 45px;
  width: 100%;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  margin-top: 10px;
  background-color: var(--white);
  color: var(--black);
  font-size: 15px;
}

.options .option:hover {
  background-color: var(--darkpurple);
  color: var(--white);
}

/* FINAL css dropdown raça */

/* INICIO css dropdown TAMANHO */
.select-menu2 {
  margin-top: 4%;
  width: 23vw;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.select-menu2 .select-btn2 {
  display: flex;
  height: 55px;
  background-color: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
 }

 .select-btn2 img {
  height: 24px;
  transition: 0.3s;
}

#select-tamanho {
  background: url(images/porte_dog.png) no-repeat 18px 14px;
  background-size: 28px 28px;
  padding-left: 20%;
}

.select-menu2.active2 .select-btn2 img {
  transform: rotate(-180deg);
}

.select-menu2 .options2 {
  position: relative;
  display: none;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.1);
}

.select-menu2.active2 .options2 {
  display: block;
  position: absolute;
  z-index: 2;
  max-height: 30vh;
  max-width: 23vw;
}

.options2 .option2 {
  display: flex;
  height: 45px;
  width: 100%;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  margin-top: 10px;
  background-color: var(--white);
  color: var(--black);
  font-size: 15px;
}

.options2 .option2:hover {
  background-color: var(--darkpurple);
  color: var(--white);
}
/* FINAL css dropdown tamanho */

/* INICIO CSS FILTER VACINA */
.form-control2 {
  margin-top: 10%;
  font-size: medium;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 17px auto;
  gap: 0.5em;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 3px;
}


.form-control2:focus-within {
  color: var(--darkpurple);
}
/* FINAL CSS FILTER VACINA */

/* INICIO FUNC FILTRAR E LIMPAR */

.filtrar {
  margin-top: 29%;
  font-size: 16px;
  width: 180px;
  height: 60px;
  border-radius: 12px;
  border: none;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 800;
  cursor: pointer;
}

.filtrar:hover {
  background-color: var(--white);
  color: var(--orange);
  border: 4px solid var(--orange);
  transition: .4s;
}

.limpar {
  margin-top: 29%;
  font-size: 16px;
  width: 180px;
  height: 60px;
  border-radius: 12px;
  border: 4px solid var(--darkpurple);
  color: var(--darkpurple);
  background-color: transparent;
  font-weight: 800;
  cursor: pointer;
}

.limpar:hover {
  background-color: var(--darkpurple);
  color: var(--white);
  transition: 0.4s;
}

/* FIM FUNC FILTRAR E LIMPAR  */

/* INICIO CARD AD PET  */

.card-adpet {
  flex-direction:row;
  justify-content: space-between;
  display: flex;
}

.ex-card {
  margin-top: 10%;
  width: 22%;
  height: 520px;
}

.img-pet {
  background-image: url(images/spitz-filhote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.content-card {
  padding-top: 5%;
}

.content-card h3{
  font-size: 24px;
  font-weight: bolder;
}

.content-card #mes {
  margin-top: 3%;
  margin-bottom: 2%;
  font-weight: 300;
}

.content-card #preco {
  font-weight: 300;
}

.fila-local {
  flex-direction:row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 6%;
}

.ex-card2 {
  margin-top: 10%;
  width: 22%;
  height: 520px;
}

.ex-card3 {
  margin-top: 10%;
  width: 22%;
  height: 520px;
}

.ex-card4 {
  margin-top: 10%;
  width: 22%;
  height: 520px;
}

.entrar-fila {
  margin-top: 8%;
  font-size: 20px;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: none;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 600;
  cursor: pointer;
}

.entrar-fila:hover{
  background-color: var(--white);
  color: var(--orange);
  border: 4px solid var(--orange);
  transition: .4s;
}

/* FIM CARD AD PET  */

/* Footer */

footer {
  width: 100%;
  color: var(--black);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 2.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--black);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link img {
  width: 23px;
  align-self: center;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--black);
  transition: all 0.4s;
  font-size: 16px;
}

.footer-list .footer-link:hover {
  color: var(--purple);
}

#logoFooter {
  width: 40%;
  height: 40%;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

#footer_subscribe p {
  color: var(--black);
  font-size: 16px;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: #d0d0d0;
  border-radius: 4px;
  font-size: 16px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  font-size: 16px;
}

#input_group button {
  background-color: var(--purple);
  border: none;
  color: var(--black);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group img {
  width: 23px;
  display: flex;
  align-items: center;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: rgb(208, 208, 208);
  font-size: 0.8rem;
  padding: 1.5rem;
  font-weight: 400;
  color: var(--black);
}

::-webkit-input-placeholder { /* Edge */
  color:var(--darkgray);
}